{% set project_name = cookiecutter.project_name -%}
{% set project_slug = cookiecutter.project_slug -%}
{% set package_name = cookiecutter.package_name -%}
{% set project_short_description = cookiecutter.project_short_description -%}
{% set project_version = cookiecutter.project_version -%}
{% set project_default_branch = cookiecutter.project_default_branch -%}
{% set author_name = cookiecutter.author_name -%}
{% set author_email = cookiecutter.author_email -%}
{% set platform = cookiecutter.platform -%}
{% set platform_url = cookiecutter.platform_url -%}
{% set platform_username = cookiecutter.platform_username -%}
{% set open_source_license = cookiecutter.open_source_license -%}
{% set command_line_interface = cookiecutter.command_line_interface -%}
{% set document_tool = cookiecutter.document_tool -%}
{% set data_model = cookiecutter.data_model -%}
{% set docstrings_style = cookiecutter.docstrings_style -%}
{% set install_precommit_hooks = cookiecutter.install_precommit_hooks -%}
{% set use_pypi_mirror = cookiecutter.use_pypi_mirror -%}

{% set use_mypy = cookiecutter.use_mypy == 'y' -%}
{% set is_github = platform == 'GitHub' -%}
{% set is_gitlab = platform == 'GitLab' -%}
{% set use_click = command_line_interface == 'Click' -%}
{% set use_typer = command_line_interface == 'Typer' -%}
{% set is_cli = command_line_interface != "No command-line interface" %}
{% set use_attrs = data_model in ('Attrs', 'All') %}
{% set use_pydantic = data_model in ('Pydantic', 'All') %}
{% set use_sphinx = document_tool == 'Sphinx' %}
{% set use_mkdocs = document_tool == 'Mkdocs' %}
{% set project_path = platform_username ~ '/' ~ project_slug -%}
{% set project_url = platform_url ~ '/' ~ project_path -%}
{% set is_open_source = open_source_license != 'Not open source' -%}
{% if is_github -%}
{% set document_url = "https://" ~ platform_username ~ ".github.io/" ~ project_slug %}
{% elif is_gitlab -%}
{% set lst = platform_username.split('/') -%}
{% set document_url = "https://" ~ lst[0] ~ ".pages." ~ platform_url[8:] ~ "/" ~ lst[1:]|join('/') ~ "/" ~ project_slug %}
{% endif -%}
